__pycache__/
*.pyc
.venv/
venv/
env/

*.pt
*.pkl
dataset.csv
ucf_crime_dataset.csv
data/*.zip
datasets/
runs/
.old/

data/normal/*
data/suspeito/*
!data/normal/.gitkeep
!data/suspeito/.gitkeep

outputs/*
!outputs/.gitkeep
models/*
!models/.gitkeep
!models/ucf_crime_mlp.pkl
!models/ucf_scaler.pkl
!models/ucf_mlp_report.txt
!models/ucf_mlp_evaluation.png


.vscode/
